:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body { min-width: 22rem; min-height: 20rem; margin: 0; }
body { font-family: var(--font-sans); }
* { box-sizing: border-box; }
